.stm_crypto_chart {
  position: relative;
  overflow: hidden; }
  .stm_crypto_chart .stm_crypto_chart__toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 30px; }
  .stm_crypto_chart .stm_crypto_chart__periods {
    margin-top: 30px;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -ms-flexbox;
    display: flex; }
    .stm_crypto_chart .stm_crypto_chart__periods > span {
      display: inline-block;
      text-align: center;
      height: 100%;
      padding: 5px 30px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 5px;
      cursor: pointer; }
      .stm_crypto_chart .stm_crypto_chart__periods > span.active, .stm_crypto_chart .stm_crypto_chart__periods > span:hover {
        background-color: #000;
        color: #fff; }
  .stm_crypto_chart .stm_crypto_chart__error {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    transform: translateX(110%);
    transition: all .3s ease;
    z-index: 10; }
    .stm_crypto_chart .stm_crypto_chart__error.active {
      transform: translateX(0); }
    .stm_crypto_chart .stm_crypto_chart__error span {
      margin-right: 20px; }
    .stm_crypto_chart .stm_crypto_chart__error button {
      background-color: transparent;
      transition: all .3s ease;
      box-shadow: none !important;
      border-color: #fff; }
      .stm_crypto_chart .stm_crypto_chart__error button:hover {
        background-color: #fff;
        color: #000; }
  .stm_crypto_chart .stm_crypto_chart__currency + .select2 {
    display: inline-block;
    max-width: 200px;
    width: auto !important; }
  .stm_crypto_chart .stm_crypto_chart__preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); }

@keyframes loader {
  0%,
  10%,
  100% {
    width: 20px;
    height: 20px; }
  65% {
    width: 40px;
    height: 40px; } }

@keyframes loaderBlock {
  0%,
  30% {
    transform: rotate(0); }
  100% {
    transform: rotate(90deg); } }

@keyframes loaderBlockInverse {
  0%,
  20% {
    transform: rotate(0); }
  100% {
    transform: rotate(-90deg); } }
  .stm_crypto_chart .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader 1.2s infinite ease-in-out; }
    .stm_crypto_chart .loader span {
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background-color: #333;
      animation: loaderBlock 1.2s infinite ease-in-out both; }
      .stm_crypto_chart .loader span:nth-child(1) {
        top: 0;
        left: 0; }
      .stm_crypto_chart .loader span:nth-child(2) {
        top: 0;
        right: 0;
        animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
      .stm_crypto_chart .loader span:nth-child(3) {
        bottom: 0;
        left: 0;
        animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
      .stm_crypto_chart .loader span:nth-child(4) {
        bottom: 0;
        right: 0; }
  @media screen and (max-width: 500px) {
    .stm_crypto_chart .stm_crypto_chart__toolbar {
      -ms-flex-direction: column;
          flex-direction: column; }
    .stm_crypto_chart .stm_crypto_chart__currency + .select2 {
      max-width: 100%;
      width: 100% !important;
      margin-bottom: 30px; }
    .stm_crypto_chart .stm_crypto_chart__periods {
      margin: 0;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .stm_crypto_chart .stm_crypto_chart__periods span {
        font-size: 12px;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center; } }
